
    
        .h1,h1{
            font-size:4rem !important;
        }
    

@media only screen and (max-width: 600px) {
    
    .w-100
    {
    height:200px !important;
    }
    }
.hero {
        position: relative;        
    }
    
    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url('indexbg.png');
        background-size: cover;
        background-position: center;
        filter: brightness(50%); /* Adjust brightness if needed */
    }


    
    
    .hero-content {
        padding: 20px;
    }
    
    
    .nav.justify-content-end
    {
        background-color: rgba(0, 0, 0, 0.17) !important;
    
    }
    .nav-link
    {
        color: white;
        font-size: 1.2rem;

    }
    .w-100
    {
        height:350px;
    }
    .mt-0
    {
        font-size: 38px;
    }
    .row.g-0.bg-body-secondary.position-relative p
    {
         font-size: 20px;
    }
    .nav-link:hover
    {
    text-decoration:none;
    color: black;
    background-color:white;
    }
    .navbar.bg-body-tertiary
    {
        background-color: rgba(0, 0, 0, 0.17) !important;
    }
    .row.g-0.bg-body-secondary.position-relative
    {
        background-color: rgba(0, 0, 0, 0.17) !important;
        color: white;
        border: 1px solid #dddddd;
        width: 80%;
        margin: 0 auto;
    }
       .card.footer
{
    text-align: center;
    background-color:#02071b;
}

.bg-dark {
    --bs-bg-opacity: 0 !important;
    background: rgba(0, 0, 0, 0.50) !important;
}
